html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer .container {
    width: 100%;
    margin-bottom: 2rem;
}

footer {
    background-color: #212a31; 
    height: 130px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

footer p {
    margin: 0; 
}

