html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.custom-bg {
    background-image: url('../images/bgimg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

footer .container {
    width: 100%;
    margin-bottom: 2rem;
}

footer {
    background-color: #212a31; 
    height: 130px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

footer p {
    margin: 0; 
}

